{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles%}
{% block meta_title %}{{ category.name }}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block title_wrapper %}
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
                        <h2>{{ category.name }}</h2>
                        <p>{{ category.introduction }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}


{% block left_wrapper %}{% endblock %}
{% block right_wrapper %}{% endblock %}

{% block main_wrapper %}
    {% for page in pages %}
    <div style="margin-bottom: 20px">
        <a href="/moderna/page/{{ page.id }}">{{ page.title }}</a>
        {% if page.pure_content %}
            <p>{{ page.pure_content | slice:"30" }}...</p>
        {% else %}
            <p>未知领域</p>
        {% endif %}
        <div><span></span><span>{{ page.pub_date }}</span></div>
    </div>
    {% endfor %}

{% endblock %}


